// # -- SearchBar Styles -- # \\

$navbar_background: #393646;

.navbar{
    margin-top: 30px;
    background-color: $navbar_background !important;
    .container-fluid{
        display: flex;
        justify-content: center;
        input{
            color: #FFABAB;
            background-color: #6D5D6E;
            border: 3px solid #6D5D6E;
            border-radius: 3px;
            &::placeholder{
                color: #FFABAB;
                font-size: 11pt;
            }
            &:focus{
                box-shadow: none;
                border: 3px solid #FFABAB;
            }
            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
            }
        }
        button{
            border-radius: 3px;
            color: #e8e8e8;
            background-color: #3C6255;
        }
    }
}

.messagesContainer{
    .sentenceMessageNull{
        margin-top: 30px;
        font-size: 18pt;
        font-weight: 600;
        font-style: italic;
        text-align: center;
        color: #191825;
    }
    
    .sentenceMessageTrue{
        margin-top: 30px;
        font-size: 18pt;
        font-weight: 600;
        font-style: italic;
        text-align: center;
        color: #61876E;
    }
    
    .sentenceMessageFalse{
        margin-top: 30px;
        font-size: 18pt;
        font-weight: 600;
        font-style: italic;
        text-align: center;
        color: #B04759;
    }

    .sentenceMessageInputs{
        margin-top: 5px;
        margin-bottom: -25px;
        font-size: 18pt;
        font-weight: 600;
        font-style: italic;
        text-align: center;
        color: #e8e8e8;
    }
}